[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-filter = "*"
django-url-filter = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"
django-s3-folder-storage = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.7"
