<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">

        
    </head>

    <body style = "margin: 0;">
        <header style = "display: flex; justify-content: center; width: 100%;">
            <div class = "header-box" style = "background: #1F1D2B; justify-content: center; display: flex; padding: 10px; width: 100%; flex-wrap: wrap; flex-grow: 1">
                <img src = "https://i.ibb.co/vXLD2sd/loggg.png">
            </div>
        </header style = "height: 100px; display: flex">
        <div class = "text-box" style = "padding: 10px; display: flex; flex-direction: column">
            <p class = "main" style = "flex-wrap: wrap; margin: 10px">Hola {{name}}, <br>Bienvenido a ToHood List, ya puedes administrar tus tareas fácilmente. 
                Nos aseguraremos de que nuestros servicios le ayuden en su día a día.
            </p>
            <p class = "contact" style = "flex-wrap: wrap; margin: 10px">
                Si tiene alguna cuestión, problema o desea ponerse en contacto con nosotros no dude en
                 enviar un mensaje a este email: tweetteadevelop@gmail.com
            </p>
            <p class="footer" style = "flex-wrap: wrap; margin: 10px">
                Muchas gracias por confiar en nosotros,
                <br>ToHoodList
            </p>
        </div>
    </body>
</html>