<!DOCTYPE html>
<html>
    <head>
        <title>ToHoodList Sign In</title>
        <meta name="author" content="José Ricardo Peña Seco, Javier Domínguez Suárez, Willy Escovilla y María Naranjo Almeida" />
        <meta charset = "utf8">
        <script src="https://kit.fontawesome.com/bbe51b02f0.js" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'estilos/signin.css' %}" type="text/css" media="screen">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="shortcut icon" type="image/svg" href="{% static 'estilos/logo.svg'%}">
    </head>
    <body>
        <div class="container">
            <div class = "left">
                <img src = "{% static 'estilos/logo.svg'%}" class = "logo" alt = "ToHoodList Icon">
                <h1>Sign In</h1>
                <form class = "formulario">
                    <input text = "input" placeholder="Introduzca correo electrónico">
                    <input text = "input" placeholder="Introduzca su nombre">
                    <input text = "input" placeholder="Introduzca sus apellidos">
                    <input type = "password" placeholder="Introduzca su contraseña">
                    <input type = "password" placeholder="Introduzca de nuevo la contraseña">
                    <button id = "btnAccept">Aceptar</button>
                    <p>¿Ya tienes cuenta?</p>
                    <button href = "/usuarios/estilos/login.html" id = "btnLogIn">Inicia Sesión</button>
                </form>
                
            </div>
            <div class = "right">
                <h1 id = "welcome">Welcome to</h1>
                <img src = "{% static 'estilos/logo_sup.svg'%}" class = "logo_right" alt = "ToHoodList Icon">
                
                <div class="cuadrado">
                    <img src ="{% static 'estilos/tick.svg'%}" class = "tick_icon" alt = "tick">
                    <p>Devolver el tupper a mamá </p><p id = "hour_txt">9Am</p>
                </div>
                <div class = "example_note">
                    
                    <div class = "subcuadrado subcuadrado1"></div>
                    <div class = "subcuadrado subcuadrado2"></div>
                    <div class = "subcuadrado subcuadrado3"></div>
                    
                </div>
                <div class = "footer">
                    <img src = "{% static 'estilos/footerShape.png'%}" class ="footer_img" alt = "">
                </div>
            </div>
            
        </div>
    </body>
</html>