<!DOCTYPE html>
<html>
    <head>
        <title>ToHoodList Log In</title>
        <meta charset = "utf8">
        <script src="https://kit.fontawesome.com/bbe51b02f0.js" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'estilos/signin.css' %}" type="text/css" media="screen">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="icon" href="/usuarios/static/estilos/logo_sup.svg">
    </head>
    <body>
        <div class="container">
            <div class = "right">
                <h1>Sign In</h1>
                <input text = "input" placeholder="Introduzca correo electrónico">
                <input text = "input" placeholder="Introduzca su nombre">
                <input text = "input" placeholder="Introduzca sus apellidos">
                <input text = "password" placeholder="Introduzca su contraseña">
                <input text = "password" placeholder="Introduzca de nuevo la contraseña">
            </div>
            <div class = "left">

            </div>
        </div>
    </body>
</html>