html, body{
    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container{
    height: 100%;
    display: flex;
    color: #FFF;
}

.left-box{
    background: #1F1D2B;
    flex-grow: 1.5;
    z-index: 50;
}

.right-box{
    background: #082AB9;
    flex-grow: 1;
    
}

.container-left{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-left div{
    padding: 10px;
}

.header-left{
    
    flex: 0.4;
    display: flex;
    align-items: center;
    margin: auto;
}


.main-box{
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-box input{
    background: #1F1D2B;
    width: 200px;
    border: none;
    border-bottom: 2px solid #3F4344;
    color: #FFF;
    
}

.input-box input:focus{
    outline:none;
    border-bottom: 2px solid #082AB9;
    background: linear-gradient(to bottom, transparent, #181720);
    color: #FFF;
}

.buttons-box{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-button{
    background:#082AB9;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: #FFF;
    width: 200px;
    height: 30px;
    outline: none;
}

.buttons-box p{
    font-size: 12px;
}

.register-button{
    background:#1F1D2B;
    border-radius: 12px;
    border: 2px solid #082AB9;
    color: #082AB9;
    width: 200px;
    height: 30px;
    cursor: pointer;
    outline: none;
}


h2{
    text-align: center;
    font-size: 35px;
}



.container-right{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container-right div{
    display: inline-block;
}

h1{
    
    z-index: 200;
}

.shape-container{
    z-index: 10;
}

.shape1{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 500px;
    right: 450px;
}

.shape2{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 400px;
    right: 300px;
}

.shape3{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 540px;
    right: 330px;
}


.shape4{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 450px;
    right: 200px;
}

.shape5{
    position: absolute;
    height: 90px;
    width: 90px;
    top: 470px;
    right: 50px;
}

.shape6{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 185px;
    right: -30px;
}

.shape7{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 70px;
    right: 50px;
}


.shape8{
    position: absolute;
    height: 200px;
    width: 200px;
    top: -40px;
    right: 500px;
}


.shape9{
    transform: rotate(90deg);
    position: absolute;
    height: 200px;
    width: 200px;
    top: 200px;
    right: 520px;
}


.shape10{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 100px;
    right: 300px;
}

.shapes{
    width: 100%;
}